@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200&family=Dosis&family=Fugaz+One&family=Gochi+Hand&family=Inter:wght@400;700&family=Jaldi&family=Manrope:wght@800&family=Orelega+One&family=Philosopher&family=Poor+Story&family=Prompt&family=Quattrocento&family=Roboto:wght@300;400&family=Rubik+Dirt&family=Source+Sans+Pro&family=Space+Mono&family=Special+Elite&display=swap');


/* Navbar CSS */

body {
  background-color: rgba(250, 248, 241, 1);
}

.brownFont {
  color: rgba(197, 137, 64, 1);
}

.bgBrown {
  background-color: rgba(197, 137, 64, 1);
}

.bgLightBrown {
  background-color: rgba(229, 186, 115, 1);
}

.quattroFont {
  font-family: Quattrocento;
}

p {
  font-family: Prompt;
  color: rgb(157, 97, 0);
}

.darkBrownText {
  color: rgba(197, 137, 64, 1);
}

.searchBar{
  width: 12.375rem;
  height: 2.1rem;
  padding: 0rem;
  padding-left: .2rem;
  font-size: 1rem;
  color: rgba(250, 234, 177, 1);
  caret-color: rgba(197, 137, 64, 1);
  background-color: rgba(229, 186, 115, 1);
  border: none;
}

/* gets rid of outline when searchbar is clicked */
/* You actually can't get rid of it becaused it is part of accessibility */
textarea:focus,
input.searchBar:focus {
  /* outline: 3px solid rgba(197, 137, 64, 1); */
}

.searchBar::placeholder {
  color: rgba(250, 234, 177, 1);
  font-size: 1rem;
  font-family: Quattrocento;
}

.headers {
  font-size: 2rem;
  color: rgba(197, 137, 64, 1);
}

.normalType {
  color: rgb(168, 167, 122);
}

.fireType {
  color: rgb(238, 129, 48);
}

.waterType {
  color: rgb(99, 144, 240);
}

.electricType {
  color: rgb(247, 208, 44);
}

.grassType {
  color: rgb(122, 199, 76);
}

.iceType {
  color: rgb(150, 217, 214);
}

.fightingType {
  color: rgb(194, 46, 40);
}

.poisonType {
  color: rgb(163, 62, 161);
}

.groundType {
  color: rgb(226, 191, 101);
}

.flyingType {
  color: rgb(169, 143, 243);
}

.psychicType {
  color: rgb(249, 85, 135);
}

.bugType {
  color: rgb(166, 185, 26);
}

.rockType {
  color: rgb(182, 161, 54);
}

.ghostType {
  color: rgb(115, 87, 151);
}

.dragonType {
  color: rgb(111, 53, 252);
}

.darkType {
  color: rgb(112, 87, 70);
}

.steelType {
  color: rgb(183, 183, 206);
}

.fairyType {
  color: rgb(214, 133, 173);
}


/* Using webkit-scrollbar to style default scrollbar. By doing this you sacrifice compatibility with browsers who do not support this psuedo element */

::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-track {
  background-color: rgba(250, 234, 177, 1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(197, 137, 64, 1);
  border-radius: 1rem;
}